/* Game Fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Righteous&display=swap');

/* Website Game Colours */
:root {
    --cream: #FAF5DA;
    --Jet: #2b2b2b;
    --light-blue: #4281A4;
    --green: #2c7a2a;
    --red: #c44536;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Jet);
    display: flex;
    justify-content: center;
    text-align: center;
}

body  p {
    font-family: Noto-Sans, sans-serif;
    text-align: center;
}

.game-titles {
    font-family: Righteous, cursive;
    color: var(--green);
    font-size: 3rem;
}

/* Main Game Container Styling */
#game-container {
    position: absolute;
    background-color: var(--cream);
    width: 85%;
    height: 50rem;
    max-height: 50rem;
    top: 5%;
    max-width: 830px;
    margin: auto;
    border-radius: 2%;
}

.logo-main {
    position: relative;
    max-width: 200px;
    max-height: 200px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 20%;
}

input, label {
    font-size: 100%;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.game-input {
    border: 2px solid var(--light-blue);
    border-radius: 5px;
    min-width: 200px;
}

.btn {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: var(--light-blue);
    text-align: center;
    min-width: 200px;
}

.btn:hover {
    background-color: var(--green);
    padding: 8px 0 8px 0;
}

/* Rules Screen Styling */
.rules-box {
    position: relative;
    margin: auto;
    text-align: center;
    max-width: 500px;
}

/* Skill Level Screen Styling */
.skill-button {
    margin-top: 20px;
}

/* Game Screen One Styling */
.img-button {
    border: 2px solid var(--light-blue);
    border-radius: 5px;
    min-width: 200px;
}